* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background: #000;
    transform: scale(1.06);
}

.price input {
    width: 20%;
}

#total {
    background: rgb(230, 33, 109);
    padding: 4px 2px;
    border-radius: 5px;
}
#deleteALL{
    margin: 20px 0;
}
#total::before {
    content: 'total: ';
}

button {
    width: 100%;
    height: 35px;
    border: none;
    transform: scale(1.0);
    cursor: pointer;
    background: rgb(229, 40, 131);
    color: #fff;
    font-style: system-ui;
    border-radius: 20px;
}

button:hover {
    background: rgb(172, 87, 109);
    letter-spacing: 2px;
    transition: 0.5s;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;

}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th, td {
    padding: 5px;
}